@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  @apply flex-[1_1_auto];
}
html,
body {
  @apply h-full w-full;
}
@layer base {
  body {
    line-height: 1;
    padding: 0px;
    margin: 0px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
