@tailwind base;
@tailwind components;
@tailwind utilities;

main {
     @apply flex-[1_1_auto];
}
html,
body {
     @apply h-full w-full;
}
@layer base {
     html {
          scroll-behavior: smooth;
     }
     body {
          line-height: 1;
          padding: 0px;
          margin: 0px;
          background: #f4f4f4;
          font-size: 14px;
     }
     .wrapper {
          display: flex;
          flex-direction: column;
          height: 100%;
     }
     .guarantee-swiper-pagination-bullet {
          background-color: #ffffff;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          cursor: pointer;
     }
     .guarantee-swiper-pagination-bullet-active {
          background-color: #1f94d2;
     }
     .phone-input-wrapper .react-tel-input {
          margin: 0 !important;
     }
     .section-margin {
          margin-top: 180px;
     }
     .burger-modal {
          backdrop-filter: blur(12px);
     }
     .product-description p {
          max-width: 1000px;
     }
     @media (max-width: 768px) {
          .section-margin {
               margin-top: 120px;
          }
     }
}
